@import url(https://fonts.google.com/specimen/Public+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hwb(228 24% 36%);
}

:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --Weights: 300, 400, 700;
    --Family: [Public Sans](https: //fonts.google.com/specimen/Public+Sans)
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        width: 100%;
        height: 20px;
        background-color: white;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
        padding: 30px 0;
    }

    header nav {
        display: flex;
        column-gap: 50px;
    }

    header a {
        text-decoration: none;
        color: var(--Grayish-Blue);
    }

    header .div2 .Request {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        color: var(--White);
        background-image: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
        border-radius: 50px;
        width: 150px;
        height: 40px;
        cursor: pointer;

    }

    header .hamburger, header .mobile-menu, header .overlay, header .mobilenav {
        display: none;
    }
    header .menu1:hover{
        color: black;
    }
    header .menu1::after{
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--Lime-Green);
        transition: 1s ease-in-out;
        display: block;

    }
    header .menu1:hover::after{
        content: "";
        width: 30px;
        height: 3px;
        background-color: var(--Lime-Green);
    } 



    main {
        width: 100%;
        font-family: var(--Family);
        overflow: hidden;
    }

    main .section1 {
        /* border: 4px solid red; */
        display: flex;
        width: 100%;
        height: 100vh;
        margin-top: 50px;
        background-color: var(--Very-Light-Gray);
    }

    main .section1 .div1 {
        width: 50%;
        margin: 150px 0;
        padding: 0 50px;
        text-align: justify;
    }

    main .section1 .div1 .next-g {
        font-size: 40px;

    }

    main .section1 .div1 .Take {
        line-height: 25px;
        font-size: 18px;
        font-weight: var(--Weights);
        color: var(--Dark-Blue)
    }

    main .section1 .div1 .Request {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--White);
        background-image: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
        border-radius: 50px;
        width: 30%;
        height: 40px;
        font-size: 20px;
        margin: 0 50px;
        font-weight: 300;
        cursor: pointer;
        transition: width 0.8s;
    }

    main .section1 .div1 .Request:hover {
        width: 33%;
        letter-spacing: 1px;
        color: rgb(39, 2, 2);
    }

    main .section1 .div2 {
        width: 50%;
        background-image: url(./images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .phone {
        width: 110%;
    }

    main .section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        width: 100%;
        height: 70vh;
        background-color: var(--Light-Grayish-Blue);
        padding-top: 100px;
    }

    main .section2 .div1, main .section2 .div2, main .section2 .div3, main .section2 .div4 {
        width: 50%;
        text-align:justify;
        line-height: 20px;
        margin: 50px;
    }

    main .choose {
        position: absolute;
        top: 780px;
        left: 50px;
    }

    main .choose .easy {
        font-size: 40px;
    }

    main .choose .we {
        line-height: 30px;
        color: var(--Grayish-Blue);
    }

    main .section2 div .heading {
        font-size: 30px;
    }

    main .latest {
        position: absolute;
        font-size: 50px;
        top: 1280px;
        left: 100px;
        font-family: var(--Family);
        font-weight: var(--Weights);
    }

    main .section3 {
        width: 100%;
        height: 90vh;
        background-color: var(--Very-Light-Gray);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        padding:30px;
    }

    main .section3 .note {
        background-color: var(--White);
        padding: 10px;
    }

    main .section3 .div1, main .section3 .div2, main .section3 .div3, main .section3 .div4 {

        width: 30%;
        padding-top: 60px;

    }

    main .section3 div .header {
        font-size: 20px;
    }

    main .section3 div .header:hover {
        color: var(--Lime-Green);
        cursor: pointer;
    }

    main .section3 div .body {
        color: var(--Grayish-Blue);

    }

    main .section3 div .author {
        color: var(--Grayish-Blue);
    }

    main .section3 div img {
        border-radius: 5px 5px 0 0;
    }

    main .section4{
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 50px;
        background-color: var(--Dark-Blue);
    }
    main .section4 .div1{
        width: 25%;
        /* display: flex;
        column-gap: 150px; */
    }
    main .section4 .div1 .icon{
        display: flex;
        column-gap: 10px;
    }
    main .section4  .about, .career{
        color: var(--White);
        font-family: var(--Family);
        font-weight: var(--Weights);
    }
    main .section4 .div1 .icon img:hover{
        color: var(--Lime-Green);
        cursor: pointer;
    }
    main .section4 .footer:hover{
        cursor: pointer;
    }
    main .section4 .request{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--White);
        background-image: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
        border-radius: 50px;
        width: 150px;
        height: 40px;
        cursor: pointer;
    }
    main .section4 .right{
        color: var(--Grayish-Blue);
    }
   
    @media screen and (max-width:500px) {
        header{
            justify-content: space-around;
        }
        header nav, header .div2 {
            display: none;
        }

        header .hamburger {
            display: flex;
        }
        main .section1 {
            flex-direction: column-reverse;
        }

        main .section1 .div1 {
            margin: 0;
            padding-top: 50px;

        }

        main .section1 .div1, main .section1 .div2 {
            width: 100%;
        }
        main .section1 .div1 .Request {
            width: 200px;
            margin: 0 20px;
            margin-bottom: 30px;

        }


        main .section1 .div2 {
            background-image: url(./images/bg-intro-mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
        }
        main .section2 {
            flex-direction: column;
            column-gap: 12px;
            height: 200vh;
            padding-top: 200px;
        }
        main .section2 .div1, main .section2 .div2, main .section2 .div3, main .section2 .div4 {
            width: 100%;
            text-align: center;
        }
        main .choose {
            top: 800px;
            left: 10px;
            text-align: center;
        }

        main .choose .we {
            text-align: center;
            font-size: 17px;
        }
        main .section3 {
            flex-direction: column;
            height: 250vh;
            padding-top: 90px;
        }
         main .section3 .div1, main .section3 .div2, main .section3 .div3, main .section3 .div4 {
            width: 100%;
            padding: 10px;
        }
       main .latest {
            font-size: 43px;
            top: 2300px;
            left: 50px;
        
        }
        
        main .section3 .note {
            padding: 20px;
            text-align: justify;
        }

         
      main .section4{
        flex-direction: column;
        height: 70vh;
      }
      main .section4 div .request, main .section4 .about, main .section4 .career{
        margin: 0 30px;
      }
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

      header .overlay, header .mobile-menu{
        display: flex;
      }
       header .mobile-menu{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 5;
        width: 80%;
        display: flex;
        flex-direction: column;
       align-items: center;
        row-gap: 30px;
        padding-top: 50px;
        font-size: 20px;
        color: black;
       }
       header .mobile-menu a:hover{
        color: var(--Lime-Green);
       }
       header .mobile-menu .Request{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        color: var(--White);
        background-image: linear-gradient(90deg, var(--Lime-Green), var(--Bright-Cyan));
        border-radius: 50px;
        width: 150px;
        height: 40px;
        cursor: pointer;
        margin: 0 50px;

       }
    }